@using DCMLocker.Shared
@using DCMLocker.Shared.Locker
@using System.Media
@using Microsoft.AspNetCore.SignalR.Client
@using QRCoder
@using System.Diagnostics

@inject HttpClient http
@inject IJSRuntime _jsRuntime
@inject DCMLocker.Kiosk.Cliente.TLockerCliente Cliente
@inject IJSRuntime js
@inject NavigationManager Nav


@inherits LayoutComponentBase

<div style="position:fixed; top:1.2rem; left:1.2rem; z-index:90; pointer-events:none;">
    <img src="img/Logo.png"
         alt="Logo DCMLocker"
         style="width:20vh; max-width:180px; height:auto; opacity:.95;" />
</div>
<div class="page">
    <div class="main pt-2">
        <div class="container ">
            @Body
        </div>
    </div>
</div>



@code
{
    string url = "";
    private HubConnection hubConnection;
    private int CantidadItems;
    private string Mensaje;
    private bool ISMensaje;
    private List<string> ErrorMsn = new();
    protected override async Task OnInitializedAsync()
    {

    }


}