@page "/AddTamaño/{id:int}"
@inject NavigationManager NavigationManager
@inject DCMLocker.Client.Cliente.TLockerCliente tLockerCliente
@using DCMLocker.Shared
@using DCMLocker.Shared.Locker;

@if (id == 0)
{
    <h1>Agregar tamaño</h1>
}
else
{
    <h1>Editar tamaño</h1>
}

<EditForm Model="@tamaño" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <div style="display: flex; justify-content: right;">
        <button type="button" @onclick="BotonAtras" class="btn btn-outline-info" title="Volver"><FeatherArrowLeft Color="blue" /></button>
        <button type="submit" class="btn btn-outline-success" style="margin-left:1vw;" title="Guardar" ><FeatherSave Color="green" /></button>
    </div>

    <div class="form-group">
        <label><strong>Nombre</strong></label>
        <InputText @bind-Value="tamaño.Name" class="form-control form-control-user" placeholder="Nombre" />
        <ValidationMessage For="(()=> tamaño.Name)" style="color:red;" />
    </div>
    <div class="form-group">
        <label><strong>Alto (cm)</strong></label>
        <InputNumber @bind-Value="tamaño.Alto" class="form-control form-control-user" placeholder="Alto" />
        <ValidationMessage For="(()=> tamaño.Alto)" style="color:red;" />
    </div>
    <div class="form-group">
        <label><strong>Ancho (cm)</strong></label>
        <InputNumber @bind-Value="tamaño.Ancho" class="form-control form-control-user" placeholder="Ancho" />
        <ValidationMessage For="(()=> tamaño.Ancho)" style="color:red;" />

    </div>
    <div class="form-group">
        <label><strong>Profundidad (cm)</strong></label>
        <InputNumber @bind-Value="tamaño.Profundidad" class="form-control form-control-user" placeholder="Profundidad" />
        <ValidationMessage For="(()=> tamaño.Profundidad)" style="color:red;" />
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    Tamaño tamaño = new();

    protected override async Task OnInitializedAsync()
    {
        if (id != 0)
        {
            tamaño = await tLockerCliente.GetTamañoPorId(id);
        }
    }

    async Task Save()
    {
        if (/*tamaño.Name != "" && tamaño.Name != null && tamaño.Ancho * tamaño.Profundidad * tamaño.Alto > 0*/true)
        {
            if (id == 0)
            {
                var orta = await tLockerCliente.AgregarTamaño(tamaño);
            }
            else
            {
                var orta = await tLockerCliente.EditTamaño(tamaño);
            }
            NavigationManager.NavigateTo("/tamaños");
        }
    }
    
    void BotonAtras()
    {
        NavigationManager.NavigateTo("/tamaños");
    }
}
