@page "/eventos"
@using System.Globalization

<h1>Eventos</h1>

@if (mes != null)
{
    <div style="display: flex; justify-content: space-between;align-items: center;">
        <label><strong>Lista de eventos de @mes.Nombre</strong></label>
        <div style="align-items: center; display: flex;">
            <RadzenDropDown TValue="Mes" @bind-Value=mes Data="@meses" TextProperty="Nombre" Style="width: 250px;" />
            <RadzenButton ButtonStyle="ButtonStyle.Success" Click=@(() => refreshEventos())><FeatherRefreshCw Color="black" /></RadzenButton>
            <button style="outline:none;height:100%;" class="btn btn-outline" @onclick="() => DownloadTxtEventos()"><FeatherDownload Color="Black"></FeatherDownload></button>
        </div>
    </div>
    <br />
}

@if (listaDeEventos != null)
{
    <div class="tablacontent" style="position:relative;">
        <RadzenDataGrid AllowColumnResize="true" AllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="false" PageSize="100" Density="Density.Compact"
                        AllowPaging="true" AllowFiltering="true" ShowPagingSummary="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" EmptyText="No hay consultas aún." @ref="grid"
                        Data="@listaDeEventos" TItem="Evento" LogicalFilterOperator="LogicalFilterOperator.And" PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn TItem="Evento" Property="Fecha" Title="Fecha" Width="200px" />
                <RadzenDataGridColumn TItem="Evento" Property="Identificador" Title="Identificador" Width="150px" />
                <RadzenDataGridColumn TItem="Evento" Property="Descripcion" Title="Descripcion" />
            </Columns>

        </RadzenDataGrid>
    </div>
}


@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    List<Evento>? listaDeEventos;
    RadzenDataGrid<Evento> grid;
    Mes mes;
    List<Mes> meses;

    protected override async Task OnInitializedAsync()
    {
        listaDeEventos = await Cliente.GetEventos();
        mes = new Mes
            {
                Nombre = $"{new CultureInfo("es-ES").DateTimeFormat.GetMonthName(DateTime.Now.Month)} de {DateTime.Now.Year}",
                Numero = DateTime.Now.Month,
                Año = DateTime.Now.Year
            };
        meses = GenerateMonthYearOptions();
    }

    List<Mes> GenerateMonthYearOptions()
    {
        var options = new List<Mes>();
        int currentYear = DateTime.Now.Year;
        int currentMonth = DateTime.Now.Month;

        //arranca de octubre del 2024
        for (int year = 2024; year <= currentYear; year++)
        {
            int monthLimit = (year == currentYear) ? currentMonth : 12;

            for (int month = (year == 2024) ? 10 : 1; month <= monthLimit; month++)
            {
                options.Add(new Mes
                    {
                        Nombre = $"{new CultureInfo("es-ES").DateTimeFormat.GetMonthName(month)} del {year}",
                        Numero = month,
                        Año = year
                    });
            }
        }
        options.Reverse();
        return options;
    }

    async void refreshEventos()
    {
        if (mes != null)
        {
            int mesesAtras = (DateTime.Now.Month - mes.Numero) + 12 * (DateTime.Now.Year - mes.Año);
            Console.WriteLine("meses atras " + mesesAtras);
            listaDeEventos = await Cliente.GetEventosViejos(mesesAtras);
            await grid.Reload();
            StateHasChanged();
        }
        else
        {
            listaDeEventos = await Cliente.GetEventos();
            await grid.Reload();
            StateHasChanged();
        }
    }

    public class Mes
    {
        public string Nombre { get; set; }
        public int Numero { get; set; }
        public int Año { get; set; }
    }

    private async Task DownloadTxtEventos()
    {
        if (listaDeEventos.Count > 0)
        {
            LockerConfig Config = await Cliente.GetConfig();

            string fileName = $"{Config.LockerID}-{mes.Numero}-{mes.Año}.ans";
            // Convert the list of events to the desired format
            var stringBuilder = new StringBuilder();
            foreach (var evento in listaDeEventos)
            {
                string fecha = evento.Fecha.ToString("dd/MM/yyyy HH:mm:ss");
                string identificador = evento.Identificador.PadRight(20);
                stringBuilder.AppendLine($"{fecha}\t{identificador}{evento.Descripcion}");
            }

            // Get the file content as a string
            string fileContent = stringBuilder.ToString();

            // Download the file using JSRuntime
            await JSRuntime.InvokeVoidAsync("downloadFile", fileContent, fileName);

            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "Exito",
                    Detail = "Se descargo el archivo de eventos.",
                    Duration = 10000
                });
        }
        else
        {
            ShowNotification(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "La lista esta vacia.",
                    Duration = 4000
                });
        }
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }

}
