@page "/monitor"

<h1>Monitor</h1>

@if (Locker.LockerCUs != null)
{
    <table class="table text-center">
        <thead>
            <tr>
                <th>Locker</th>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>
                <th>13</th>
                <th>14</th>
                <th>15</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var CU in Locker.LockerCUs)
            {
                if (CU != null)
                {
                    <tr>
                        <td>@CU.CU.ToString()</td>

                        @for (int x = 0; x < CU.Box.Length; x++)
                        {
                            var f = x;
                            <td style="background-color:@(!CU.Box[x].Sensor?"red":"green")">
                                <a @onclick="args => Abrir(CU.CU, f)" style="text-decoration:none; color:white; display: flex; justify-content: center;align-items: center; @(CU.Box[x].Id < 6 ? "border: 2px solid black;" : "")" >
                                    <span class="oi @(CU.Box[x].Door?"oi-lock-locked":"oi-lock-unlocked")"></span>
                                </a>
                            </td>
                        }

                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="abs-center">
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-secondary"></div>
        <div class="spinner-grow text-secondary"></div>
    </div>
}

@code {

    private WeatherForecast[] forecasts;
    List<int?> listaDeBoxesAsignados;

    protected override async Task OnInitializedAsync()
    {
        var listaDeBoxes = await Cliente.GetAllBoxConfig();
        listaDeBoxesAsignados = listaDeBoxes.Select(box => box.IdFisico).ToList();

        Locker.OnChange += Change;
        Locker.LockerCUs = await Cliente.GetState();
    }

    private async void Change(object sender, EventArgs arg)
    {
        Locker.LockerCUs = await Cliente.GetState();
        StateHasChanged();
    }

    protected void Abrir(int locker, int box)
    {
        Console.WriteLine($"Set Locker {locker} - Box {box}");
        Cliente.OpenLocker(locker, box, "Miguel", "123456");
    }

}
