<style>
    #texto {
        display: inline-block;
        vertical-align: top;
    }
</style>
<div>
    <img style="float:left;width:30vh;" src="/img/Logo1.png" />&nbsp;&nbsp;
    @if (load)
    {
        <p id="texto">
            Versión: @version
            <br />
            Fecha: @fecha
            <br />
            Campeones del mundo.
        </p>
    }
</div>

<br />
<br />
<br />
<br />
<p>
    Licencia: Evaluación
    <br />
    <br />
    Copyright © 2025 Lockers Inteligentes DCM Solution S.A.
</p>


@code {
    string version;
    string fecha;
    bool load = false;

    protected override async Task OnInitializedAsync()
    {
        version = await Cliente.GetVersion();
        fecha = await Cliente.GetFecha();
        load = true;
    }

}