@page "/alerta/{pregunta}"
@inject NavigationManager Navigation
@inject DCMLocker.Kiosk.Cliente.TLockerCliente Cliente

<br />
<br />
<h3>¿Está seguro?</h3>
<h5>Se @pregunta este locker</h5>
<br />

<div style="display: flex; gap: 10px;">
    <button type="button" style="flex: 1;" class="btn btn-primary btn-user" @onclick="@(e => confirmar())">Confirmar</button>
    <button type="button" style="flex: 1;" class="btn btn-secondary btn-user" @onclick="@(e => volver())">Cancelar</button>
</div>

@code {
    [Parameter] public string pregunta { get; set; }

    public async void confirmar()
    {
        if (pregunta == "apagará") await Cliente.System_Shutdown();
        else if (pregunta == "reseteará") await Cliente.System_Reset();
        else if (pregunta == "actualizará") await Cliente.System_Update();
        else Navigation.NavigateTo("/");
    }

    void volver()
    {
        Navigation.NavigateTo("/");
    }
}
