
<center>
    <img style="width:35vh;" src="/img/no_connection.png" />
    <br />
    <br />
    <h1> <strong>SIN CONEXIÓN</strong></h1>

    <br />
    <strong>
        <h3>Por favor, intente en unos minutos.</h3>
        <h3>Gracias</h3>
        <br />
        <h4>(No connection. Please try in a few minutes. Thank you.)</h4>
    </strong>
</center>
@code {
    [Parameter] public int door { get; set; }

}
