@page "/"
@using DCMLocker.Kiosk.Pages.Components
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Nav
@inject DCMLocker.Kiosk.Cliente.TLockerCliente Cliente
@inject NotificationService NotificationService

@if (screen == "keyboard")
{
    <br />
    <br />
    <div class="row justify-content-center align-items-center">
        <div class="col-12 text-center">
            <h1 style="margin-bottom: 5px;">Ingrese su código</h1>
            <h3 style="margin-top: 5px;">(Enter your code)</h3>
        </div>
        <div class="row justify-content-center align-items-center pt-4 pb-4">

            @if (isVisible)
            {
                @for (int i = 0; i < 6; i++)
                {
                    <Circle text=@(token.Length >i ? token[i].ToString():"") />
                }



                <div @onclick=visibility style="position: absolute; right: 80%; width: 20%;">
                    <Eye />
                </div>
            }
            else
            {
                @for (int i = 0; i < 6; i++)
                {
                    <Circle text=@(token.Length >i ? "*":"") />
                }

                <div @onclick=visibility style="position: absolute; right: 80%; width: 20%;">
                    <EyeOff />
                </div>
            }


        </div>

        <div class="row justify-content-center align-items-center">

            <div @onclick="()=>addNumber(1)">
                <Button text="1" />
            </div>


            <div @onclick="()=>addNumber(2)">
                <Button text="2" />
            </div>


            <div @onclick="()=>addNumber(3)">
                <Button text="3" />
            </div>


        </div>

        <div class="row justify-content-center align-items-center">


            <div @onclick="()=>addNumber(4)">
                <Button text="4" />
            </div>


            <div @onclick="()=>addNumber(5)">
                <Button text="5" />
            </div>


            <div @onclick="()=>addNumber(6)">
                <Button text="6" />
            </div>

        </div>


        <div class="row justify-content-center align-items-center">


            <div @onclick="()=>addNumber(7)">
                <Button text="7" />
            </div>


            <div @onclick="()=>addNumber(8)">
                <Button text="8" />
            </div>


            <div @onclick="()=>addNumber(9)">
                <Button text="9" />
            </div>

        </div>

        <div class="row justify-content-center align-items-center">


            <div @onclick="()=>deleteNumber()">
                <Button text="delete" />
            </div>

            <div @onclick="()=>addNumber(0)">
                <Button text="0" />
            </div>

            <div @onclick="()=>send()">
                <Button text="send" />
            </div>

        </div>
        <div class="col-12 text-center">
            <h3>O escanee su QR (or scan your barcode)</h3>

        </div>
    </div>
}
else if (screen == "success")
{
    <Success door="door" />
}
else if (screen == "invalidToken")
{
    <TokenInvalid />
}
else if (screen == "serverConnectionError")
{
    <ServerConnectionError />
}
else if (screen == "lockerConnectionError")
{
    <LockerConnectionError />
}
else if (screen == "cerradurasError")
{
    <CerradurasError />
}
else if (screen == "error")
{
    <div class="d-flex vh-100 justify-content-center align-items-center position-relative" style="background-color: yellow;">
        <div class="col-12 text-center">
            <h1 style="font-size: 200px; color: red; margin: 0;">⚠️</h1>
            <h1 style="margin-bottom: 5px;">Temporalmente fuera de servicio</h1>
            <h3 style="margin-top: 5px;">Temporarily out of order</h3>
        </div>
        <div class="position-absolute" style="bottom: 10px; left: 10px;">
            <h3>Código @codigo</h3>
        </div>
        <div class="position-absolute" style="bottom: 25px; right: 10px;">
            <button class="btn btn-outline-dark" @onclick="fastServicioTecnico">Solo retiro</button>
        </div>
    </div>
}

@code {
    int[] token = { };
    bool isVisible;
    string screen = "keyboard";
    int door;
    private HubConnection QRhubConnection;
    private HubConnection ServerHubConnection;
    string estadoCerraduras;
    string statusRed = "Conexión al servidor";
    string codigo;

    protected override async Task OnInitializedAsync()
    {
        estadoCerraduras = await Cliente.GetEstadoCerraduras();

        QRhubConnection = new HubConnectionBuilder()
        .WithUrl(Nav.ToAbsoluteUri("/QRReaderHub"))
        .Build();

        ServerHubConnection = new HubConnectionBuilder()
        .WithUrl(Nav.ToAbsoluteUri("/ServerHub"))
        .Build();

        QRhubConnection.On<string>("ReceiveToken", (string text) =>
        {
            text = text.Substring(0, Math.Min(text.Length, 6));

            if (text.Length <= 8)
            {
                Array.Resize(ref token, text.Length);
                bool validText = true;
                for (int i = 0; i < text.Length; i++)
                {
                    if (char.IsDigit(text[i]))
                    {
                        token[i] = text[i] - '0'; // Convert character to integer
                    }
                    else
                    {
                        validText = false;
                        break;
                    }
                }
                if (validText)
                {
                    send();
                }
                else
                {
                    Console.WriteLine("Input contains non-numeric characters.");
                    ShowNotificationError("El código contiene caracteres no numericos.");
                }
            }
            else
            {
                Console.WriteLine("Input contains more than 6 numbers.");
                ShowNotificationError("El código contiene mas de 6 números.");
            }


            StateHasChanged();
        });

        ServerHubConnection.On<string>("STATUS", (message) =>
        {
            statusRed = message;
            CheckEstados();
        });

        ServerHubConnection.On<string>("CERRADURAS", (message) =>
        {
            estadoCerraduras = message;
            CheckEstados();
        });

        await QRhubConnection.StartAsync();
        await ServerHubConnection.StartAsync();

        CheckEstados();
    }

    public virtual async Task OnConnectionDownAsync()
    {
        ScreenError("03");
        StateHasChanged();
    }

    async void fastServicioTecnico()
    {
        screen = "keyboard";
        StateHasChanged();
        await Task.Delay(10000);
        CheckEstados();
    }

    void CheckEstados()
    {
        StateHasChanged();
        if (estadoCerraduras == "Conectadas" && statusRed == "Conexión al servidor") screen = "keyboard";
        else if (estadoCerraduras == "Desconectadas") ScreenError("01");
        else if (statusRed == "Desconexión del servidor") ScreenError("02");
        else if (statusRed == "Desconexión de red") ScreenError("03");
        else ScreenError("04");
        StateHasChanged();
    }



    void ScreenError(string err)
    {
        codigo = err;
        screen = "error";
    }

    void visibility()
    {
        isVisible = !isVisible;
        StateHasChanged();
    }

    void addNumber(int number)
    {
        if (token.Length < 6)
        {
            Array.Resize(ref token, token.Length + 1);
            token[token.Length - 1] = number;
        }
    }

    void deleteNumber()
    {
        if (token.Length > 0)
        {
            Array.Resize(ref token, token.Length - 1);
        }
    }

    async void send()
    {
        string resultado = string.Concat(token);
        if (resultado == "3942")
        {
            await Cliente.PostEvento(new Evento("Se ingresó 3942", "debug"));
            Nav.NavigateTo($"{Nav.Uri}red");
        }
        else if (resultado == "6641")
        {
            await Cliente.PostEvento(new Evento("Se ingresó 6641", "debug"));
            Nav.NavigateTo($"{Nav.Uri}ip");
        }
        else
        {
            try
            {
                await esperarQueSeAbra(resultado);

                screen = "success";
                StateHasChanged();
                await Task.Delay(3000);
                screen = "keyboard";
            }
            catch (Exception er)
            {
                Console.WriteLine(er.Message);
                screen = er.Message;
                StateHasChanged();
                await Task.Delay(3000);
                screen = "keyboard";
                CheckEstados();
            }
        }
        Console.WriteLine($"screen {screen}");
        token = new int[0];

        StateHasChanged();
    }

    void ShowNotificationError(string message)
    {
        Console.WriteLine("notif error");
        NotificationService.Notify(new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Error",
                Detail = message,
                Duration = 4000
            });
    }

    async Task esperarQueSeAbra(string resultado)
    {
        int iter = 0;
        bool abierta = false;

        var inicialState = await Cliente.GetState();

        door = await Cliente.TokenKey(resultado);

        //while (iter < 10 && abierta != true)
        //{
        //    Console.WriteLine("iter: " + $"{iter + 1}");

        //    var otroState = await Cliente.GetState();

        //    abierta = inicialState.Zip(otroState, (initial, otro) =>
        //            initial.Box.Zip(otro.Box, (initialBox, otroBox) =>
        //                initialBox.Door != otroBox.Door))
        //        .SelectMany(x => x)
        //        .Any(x => x);

        //    Console.WriteLine("abierta " + abierta);

        //    iter++;
        //    if (iter == 10) throw new Exception("connectionError");
        //    await Task.Delay(500);
        //}
    }

}
