
<center>
    <img style="width:35vh;" src="/img/no_connection.png" />
    <br />
    <br />
    <h1> <strong>SIN CONEXIÓN A INTERNET</strong></h1>

    <br />
    <strong>
        <h3>Por favor, intente de nuevo en unos minutos.</h3>
        <h3>Gracias</h3>
        <br />
        <h4>(No internet connection. Please try again in a few minutes, Thank you.)</h4>
    </strong>
</center>
@code {

}
