<center>
    <br/>
    <br/>
    <br/>    
    <img style="width:35vh;" src="/img/tick.png" />
    <br />
    <br />
    <h1> <strong>PUERTA @door ABIERTA</strong></h1>
    <br />

    <strong>
        <h3>Al terminar cierre la puerta</h3>
        <h3>Gracias</h3>
        <br />
        <h4>(Door @door open. Please close the door after use. Thank you.)</h4>
    </strong>
</center>
@code {
    [Parameter] public int door { get; set; }

}
